<link rel="stylesheet" href="/css/detail.css">
<h2>Details</h2>
<% if(trafficdetails && trafficdetails.length > 0) {%>
<% trafficdetails.forEach(trafficdetail => { %>
   <div >
    <li>Vehicle Number : <%= trafficdetail.vehicleNumber %></li>
    <li>OwnerName : <%= trafficdetail.ownerName %></li>
    <li>MobileNumber: <%= trafficdetail.mobileNumber %></li>
    <li>ViolationType: <%= trafficdetail.violationType %></li>
    <li>Location: <%= trafficdetail.location %></li>
    <li>Fine Amount: <%= trafficdetail.fineAmount %></li>
    <li>DateOf Violation: <%= trafficdetail.dateOfViolation %></li>
    <li>Status: <%= trafficdetail.status %></li>
    <li>Payment Date: <%= trafficdetail.paymentDate %></li>
    <li>Challan Number: <%= trafficdetail.eChallanNumber %></li>
    </div>
   <form action="/epayment/pay" method="get">
    <button class="btn btn-dark">pay</button>
   </form>
  

    <br>
  <% }) %>

  <% }else{ %>

    <h4>NO RECORD FOUND</h4>
    <% } %>